.subscribtion {
    background-color: rgb(255, 241, 243);
    margin-top: 20%;
    margin-left: 0; margin-right: 0;
    border-radius: 61% 39% 25% 75% / 61% 56% 44% 39% ;
}

.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 5vw 0;
}

.h1 {
    font-size: 7vw;
    margin: 0;
}

.para {
    font-size: 1.5vw;
    margin-bottom: 5vw;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 1.5vw 10vw 1vw 2vw;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(183, 183, 183);
    box-shadow: -0 10px 15px -10px rgba(113, 39, 39, 0.297);
    font-size: 1.5vw;
    border-radius: 2px;
    outline: none;
    color: gray;
    margin-right: 10px;
    width: 20%;
    transition: width 0.4s ease-in-out;
}

input::placeholder {
    color: gray;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
}

input:focus {
    outline: none;
    font-size: 1.5vw;
    width: 100%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
}

.button-5 {
    padding: 1.2vw 3vw;
    font-size: 1.2vw;
    border: none;
    background-color: white;
    transition: all 0.15s;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    color: gray;
    box-shadow: 2px 2px 5px rgba(113, 39, 39, 0.242);;
}

.button-5:hover {
    box-shadow: 1px 1px 5px rgba(92, 89, 89, 0.031);
    cursor: pointer;
}

.button-5:active {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.179);
}